<ng-template [ngIf]="basketStatisticsResponseData.list?.length > 0" [ngIfElse]="elseBlock">
  <div class="row">
    <div class="bg-light box col-sm-3 m-3 p-2 rounded" *ngFor="let item of basketStatisticsResponseData.list">
      <h4 class="text-center text-muted font-13">{{item.type}}</h4>
      <h4 class="count_no_color font-40 text-center mt-2">{{item.total}}</h4>
    </div>
  </div>
</ng-template>
<ng-template #elseBlock>
  <div class="row">
    <div class="col-sm-12 m-3">
      <h4 class="text-center text-muted font-28 mt-2">No Activity</h4>
    </div>
  </div>
</ng-template>