<section class="login-wrapper reset-password">
    <div class="align-items-center d-flex form-wrapper h-100">
        <div class="container">
            <div class="row justify-content-center align-items-center text-center">
                <div class="col-md-5">
                    <div class="dashboard-login card">
                        <div class="card-body">
                            <p><span class="btn-danger btn-circle-outline btn-lg"><i class="fa fa-times"></i></span></p>
                            <h2>Authentication!</h2>
                            <p>Email does not exist in the system. Please enter the right email address.</p>
                            <button type="button" class="btn btn-lg btn-info reset-btn font-19"
                                (click)="clickHandler()">Ok</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>