.dashboard-login .form-control {
    height: calc(2em + 0.75rem + 5px) !important;
    border-radius: 26px;
    box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.16);
    border: solid 1px #d3d3d3;
    background-color: #ffffff;
    font-size: 15px !important;
}

.login-wrapper {
    position: fixed;
    width: 100%;
    height: 100%;
    z-index: 1;
    background: url(../../../assets/img/bg.png) no-repeat center center fixed;
    background-size: cover;
}

.login-wrapper.reset-password {
    background: url(../../../assets/img/bg.png) no-repeat center center fixed;
    background-size: cover;
}

.login-wrapper.reset-password .form-wrapper>.container>.row {
    min-height: 100vh;
}
.btn:active, .btn:active:focus, .btn:focus, .custom-select:focus, .form-control:focus {
    box-shadow: none !important;
    outline: 0;
}
.dashboard-login .btn-primary {
    color: #fff;
    background-color: #1BAA9E;
    border-color: #1BAA9E;
}