<div class="second_top_bar bg-white p-10">
  <div class="container">
    <div class="row">
      <div class="col-md-4 pl-0 align-self-lg-center">
        <h4 class="font-17 text-dark">
          <span class="font-weight-600">
            Notifications
          </span>
        </h4>
      </div>
      <div class="col-md-8 pr-0">
        <form>
          <div class="row">
            <div class="col-md-4 search_bar">
              <i class="fa-search fas ml-3 position-absolute text-muted mt-3" aria-hidden="true"></i>
              <input class="form-control pl-5" type="text" placeholder="Search" aria-label="Search" name="search">
            </div>
            <div class="col-md-4 month_bar">
              <select name="Filter" class="font-weight-600 form-control">
                <option>Weekly</option>
              </select>
            </div>
            <div class="col-md-2 pr-0">
              <button class="btn btn-block btn-info pb-1 pt-2 shadow-none" data-toggle="modal"
                data-target="#email_task_schedule_Modal">
                <img alt="image" src="assets/img/icons/forward_to_inbox.png">
                Email</button>
            </div>
            <div class="col-md-2 pr-0">
              <button class="btn btn-block btn-info pb-1 pt-2 shadow-none" data-toggle="modal"
                data-target="#sms_chat_model">
                <img alt="image" src="assets/img/icons/chat.png">
                SMS</button>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
<section class="section">
  <div class="row">
    <div class="col-lg-12">
      <div class="table-responsive">
        <table class="table table-bordered bg-white">
          <thead>
            <tr>
              <th></th>
              <th>Car Register</th>
              <th>Name</th>
              <th>Phone Number</th>
              <th>Email</th>
              <th>Messages</th>
            </tr>
          </thead>
          <tbody>
            <tr class="font-weight-600">
              <td> <input type="checkbox" value=""></td>
              <td data-toggle="collapse" data-target="#demo1" class="accordion-toggle text-info">AKF 6543</td>
              <td>Ujang selamat</td>
              <td>011-21414141</td>
              <td>Muz90@gmail.com</td>
              <td>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam …</td>
            </tr>
            <tr class="font-weight-600">
              <td> <input type="checkbox" value=""></td>
              <td data-toggle="collapse" data-target="#demo1" class="accordion-toggle text-info">AKF 6543</td>
              <td>Ujang selamat</td>
              <td>011-21414141</td>
              <td>Muz90@gmail.com</td>
              <td>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam …</td>
            </tr>
            <tr class="font-weight-600">
              <td> <input type="checkbox" value=""></td>
              <td data-toggle="collapse" data-target="#demo1" class="accordion-toggle text-info">AKF 6543</td>
              <td>Ujang selamat</td>
              <td>011-21414141</td>
              <td>Muz90@gmail.com</td>
              <td>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam …</td>
            </tr>
            <tr class="font-weight-600">
              <td> <input type="checkbox" value=""></td>
              <td data-toggle="collapse" data-target="#demo1" class="accordion-toggle text-info">AKF 6543</td>
              <td>Ujang selamat</td>
              <td>011-21414141</td>
              <td>Muz90@gmail.com</td>
              <td>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam …</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</section>