<div class="dashboard_right_sidebar">
  <div class="col-sm-12 pt-3">
    <span class="font-15 font-weight-600 text-muted">Today</span>
    <h4 class="font-18 theme_color">{{today | date}}</h4>
  </div>
  <div class="col-sm-12 mt-3">
    <span class="font-15 font-weight-600 text-muted">Recents Follow up</span>
    <div class="border p-2 rounded mt-2" *ngFor="let item of recentIssuesResponseData.recentList">
      <h4 class="font-16">{{item.vehiclePlateNo}} - {{item.basketType}}</h4>
      <h5 class="font-13 text-muted">{{item.date}}</h5>
      <button class="bg-light btn text-muted mr-1">
        <img alt="image" src="assets/img/icons/markunread_mail_small.png"> Open
      </button>
      <button class="bg-light btn text-muted width-per-63">
        Urgent - {{item.basketType}}
      </button>
    </div>
  </div>
</div>