<div class="d-flex bg-white rounded ">
  <div class="col-md-6">
    <h4 class="font-15 mt-3 text-muted">Total Quotation Request</h4>
    <h4 class="count_no_color font-50 text-right mt-5">{{totalQuotationResponseData.total}}<span
        class="text-muted font-12">Quote</span>
    </h4>
  </div>
  <div class="col-md-6 text-center pb-1">
    <img alt="image" src="assets/img/icons/iconvolt.png">
  </div>
</div>
<div class="d-flex bg-white rounded mt-4">
  <div class="col-md-6">
    <h4 class="font-15 mt-3 text-muted">Total Quotation Request</h4>
    <h4 class="count_no_color font-50 text-right mt-5">{{totalQuotationResponseData.total}}<span
        class="text-muted font-12">Quote</span>
    </h4>
  </div>
  <div class="col-md-6 text-center pb-1">
    <img alt="image" src="assets/img/icons/iconvolt-second.png">
  </div>
</div>