<h2 class="bg-blue-grey font-17 mb-0 p-15 pl-4">Car Register {{data}}</h2>
<div class="d-flex">
  <div class="border-right col-md-6 pl-4 pr-5">
    <form>
      <div class="form-group row mt-3">
        <label for="inputEmail3" class="col-sm-3 col-form-label">Car Reg. No.</label>
        <div class="col-sm-9">
          <input type="text" class="form-control" placeholder="Car Reg. No.">
        </div>
      </div>
      <div class="form-group row">
        <label for="inputEmail3" class="col-sm-3 col-form-label">Model Car</label>
        <div class="col-sm-9">
          <input type="text" class="form-control" placeholder="Perodua - Axia">
        </div>
      </div>
      <div class="form-group row">
        <label for="inputEmail3" class="col-sm-3 col-form-label">Name</label>
        <div class="col-sm-9">
          <input type="text" class="form-control" placeholder="Muzaidi Samad">
        </div>
      </div>
      <div class="form-group row">
        <label for="inputEmail3" class="col-sm-3 col-form-label">NRIC</label>
        <div class="col-sm-9">
          <input type="text" class="form-control" placeholder="901213134112">
        </div>
      </div>
      <div class="form-group row">
        <label for="inputEmail3" class="col-sm-3 col-form-label">Takaful Name</label>
        <div class="col-sm-9">
          <input type="text" class="form-control" placeholder="Takaful Malaysia">
        </div>
      </div>
      <div class="form-group row">
        <label for="inputEmail3" class="col-sm-3 col-form-label">Cover Type</label>
        <div class="col-sm-9">
          <input type="text" class="form-control" placeholder="Comprehensive Takaful">
        </div>
      </div>
      <div class="form-group row">
        <label for="inputEmail3" class="col-sm-3 col-form-label">Sum Insured</label>
        <div class="col-sm-9">
          <input type="text" class="form-control" placeholder="RM 80 000">
        </div>
      </div>
      <div class="form-group row">
        <label for="inputEmail3" class="col-sm-3 col-form-label">Extra Coverage</label>
        <div class="col-sm-9">
          <input type="text" class="form-control" placeholder="RM90.00">
        </div>
      </div>
      <div class="form-group row">
        <label for="inputEmail3" class="col-sm-3 col-form-label">NCD Effective Date</label>
        <div class="col-sm-9">
          <input type="text" class="form-control" placeholder="12 Dec 2021">
        </div>
      </div>
      <div class="form-group row">
        <label for="inputEmail3" class="col-sm-3 col-form-label">Phone Number</label>
        <div class="col-sm-9">
          <input type="text" class="form-control" placeholder="011-21414141">
        </div>
      </div>
      <div class="form-group row">
        <label for="inputEmail3" class="col-sm-3 col-form-label">Email</label>
        <div class="col-sm-9">
          <input type="text" class="form-control" placeholder="Muz90@gmail.com">
        </div>
      </div>
      <div class="form-group row">
        <label for="inputEmail3" class="col-sm-3 col-form-label">Address</label>
        <div class="col-sm-9">
          <input type="text" class="form-control form-group" placeholder="-">
          <input type="text" class="form-control " placeholder="-">
        </div>
      </div>
      <div class="form-group row">
        <label for="inputEmail3" class="col-sm-3 col-form-label">Postcode</label>
        <div class="col-sm-9">
          <input type="text" class="form-control" placeholder="43000">
        </div>
      </div>
      <div class="form-group row">
        <label for="inputEmail3" class="col-sm-3 col-form-label">Status</label>
        <div class="col-sm-9">
          <input type="text" class="form-control" placeholder="Pending">
        </div>
      </div>
      <div class="form-group row">
        <label for="inputEmail3" class="col-sm-3 col-form-label">Remarks</label>
        <div class="col-sm-9">

          <textarea class="form-control" rows="3" placeholder="NCD Not Update"></textarea>
        </div>
      </div>
    </form>
  </div>
  <div class="col-md-6">
    <form>
      <div class="form-group row mt-3  pl-4 pr-5">
        <label class="col-form-label col-sm-4 font-weight-bold align-self-center">Step Procedure</label>
      </div>
      <div class="form-group row  pl-4 pr-5">
        <label class="col-sm-5 col-form-label font-weight-bold">1. Check & Update (NCD)</label>
        <div class="col-sm-5">
          <button class="bg-light-blue border-0 btn btn-lg text-white">Click Here</button>
        </div>
      </div>
      <div class="form-group row  pl-4 pr-5">
        <label class="col-sm-5 col-form-label font-weight-bold">2. Requote</label>
        <div class="col-sm-5">
          <button class="bg-light-blue border-0 btn btn-lg text-white">Click Here</button>
        </div>
      </div>
      <div class="form-group row  pl-4 pr-5">
        <label class="col-sm-3 col-form-label font-weight-bold">3. Refund</label>
        <div class="col-sm-9">
          <select class="form-control w-75 form-group">
            <option>Select</option>
          </select>
          <input type="text" class="form-control w-75 form-group text-muted" placeholder="Amount">
          <textarea class="form-control" rows="3" placeholder="Remarks"></textarea>
        </div>
      </div>
      <div class="form-group row  pl-4 pr-5">
        <label class="col-sm-3 col-form-label font-weight-bold">4. Topup</label>
        <div class="col-sm-9">
          <select class="form-control w-75 form-group">
            <option>Select</option>
          </select>
          <input type="text" class="form-control w-75 form-group text-muted" placeholder="Amount">
          <textarea class="form-control mt-2" rows="3" placeholder="Remarks"></textarea>
        </div>
      </div>
      <div class="row">
        <div class="bg-light p-15 position-absolute pr-5 text-right w-100" style="bottom:0px;">
          <button class="btn bg-transparent border-0 w-25">Cancel</button>
          <button class="bg-green btn text-white w-25">Update</button>
        </div>
      </div>
    </form>
  </div>
</div>