<div id="app">
  <div class="main-wrapper main-wrapper-1">

    <!-- Top Bar Code Start -->
    <app-header></app-header>
    <!-- Top Bar Code End -->

    <!-- left Sidebar Code Start -->
    <div class="main-sidebar sidebar-style-2">
      <app-sidebar></app-sidebar>
    </div>
    <!-- left Sidebar Code End -->

    <!-- Main Content -->
    <div class="main-content">
      <section class="section">
        <div class="row">
          <!-- left right content code start -->
          <div class="col-md-9">
            <app-dashboard></app-dashboard>
          </div>
          <!-- left right content code End -->

          <!-- right side bar code start -->
          <div class="col-md-3">
            <app-issue-widget></app-issue-widget>
          </div>
          <!-- right side bar code end -->
        </div>
      </section>
    </div>
  </div>
</div>