<div id="app">
    <div class="main-wrapper main-wrapper-1">

        <!-- Top Bar Code Start -->
        <div class="navbar-bg"></div>
        <nav class="navbar navbar-expand-lg main-navbar">
            <div class="form-inline mr-auto">
                <ul class="navbar-nav mr-3">
                    <li>
                        <a href="#" data-toggle="sidebar" class="nav-link nav-link-lg collapse-btn">
                            <i class="fas fa-bars"></i>
                        </a>
                    </li>

                </ul>
            </div>
            <ul class="navbar-nav navbar-right">
                <li class="dropdown dropdown-list-toggle">
                    <a href="#" data-toggle="dropdown" class="nav-link notification-toggle nav-link-lg">
                        <i class="far fa-bell" style="font-size: 24px;"></i>
                        <span class="notification-count bg-red">4</span>
                    </a>
                    <div class="dropdown-menu dropdown-list dropdown-menu-right notification-card-wraper">
                        <div class="dropdown-header font-weight-bold text-dark">Notifications</div>


                        <div class="card-body">
                            <div class="timeline-activity-widget ">
                                <div class="widget-activity-item1">
                                    <span class="font-12 text-muted">Today 22:20 pm</span>
                                    <p class="font-weight-normal">Simon Co INS0021 just assign <span class="text-danger">Load Test Inspection.</span></p>
                                </div>
                                <div class="widget-activity-item1">
                                    <div class="font-12 text-muted">22Jul, 2020 22:30 pm</div>
                                    <p class="font-weight-normal">John Doe INS043 just assign <span style="color:#4383b2;">Magnetic particle inspection.</span></p>
                                </div>
                                <div class="widget-activity-item1">
                                    <div class="font-12 text-muted">18 Jul, 2020 10:30 am</div>
                                    <p class="font-weight-normal">John Doe INS043 just assign <span class="text-success">Sling/shackle inspection.</span></p>
                                </div>

                            </div>
                        </div>


                        <div class="dropdown-footer text-center">
                            <a href="#">View All <i class="fas fa-chevron-right"></i></a>
                        </div>
                    </div>
                </li>


                <li class="dropdown">
                    <a href="#" data-toggle="dropdown" class="nav-link dropdown-toggle nav-link-lg nav-link-user">
                        <img alt="image" src="assets/img/icons/user_profile_icon.png" class="mr-2">
                        <span class="d-sm-none d-lg-inline-block"></span> john doe Admin <i class="fa fa-chevron-down ml-4"></i></a>
                    <div class="dropdown-menu dropdown-menu-right">
                        <div class="dropdown-title">Hello Alexa Lopez <i class="fa fa-chevron-gown"></i></div>
                        <a href="profile.html" class="dropdown-item has-icon">
                            <i class="far fa-user"></i> Profile
                        </a>
                        <a href="timeline.html" class="dropdown-item has-icon">
                            <i class="fas fa-bolt"></i> Activities
                        </a>
                        <a href="" class="dropdown-item has-icon">
                            <i class="fas fa-cog"></i> Settings
                        </a>
                        <div class="dropdown-divider"></div>
                        <a href="auth-login.html" class="dropdown-item has-icon text-danger">
                            <i class="fas fa-sign-out-alt"></i> Logout
                        </a>
                    </div>
                </li>
            </ul>
        </nav>
        <!-- Top Bar Code End -->

        <!-- left Sidebar Code Start -->
        <div class="main-sidebar sidebar-style-2">
            <aside id="sidebar-wrapper">
                <div class="sidebar-brand text-center mt-3 pb-3">
                    <a href="#">
                        <img alt="image" src="assets/img/logo.png" class="logo-name" />
                        <img alt="image" src="assets/img/mini_logo.png" class="header-logo mini_logo" />
                    </a>
                </div>
                <ul class="sidebar-menu">

                    <li class="dropdown">
                        <a href="#" class="nav-link" data-toggle="sidebar">
                            <img alt="image" src="assets/img/icons/dashboard_icon.png">
                            <span>Dashboard</span>
                        </a>
                        <ul class="dropdown-menu bg-transparent">
                            <li><a class="nav-link" href="dashboard.html">Dashboard</a></li>
                        </ul>
                    </li>
                    <li class="dropdown ">
                        <a href="#" class="nav-link has-dropdown">
                            <img alt="image" src="assets/img/icons/markunread_mail.png">
                            <span>Follow Up</span>

                        </a>
                        <ul class="dropdown-menu bg-transparent">
                            <span class="font-14 font-weight-600 ml-5 pl-2">Urgent</span>
                            <li class="pb-0 pt-0"><a class="nav-link" href="#">NCD</a></li>
                            <li class="pb-0 pt-0"><a class="nav-link" href="#">High Risk</a></li>
                            <li class="pb-0 pt-0"><a class="nav-link" href="#">Roadtax</a></li>
                        </ul>
                        <ul class="dropdown-menu bg-transparent">
                            <span class="font-14 font-weight-600 ml-5 pl-2">Assist</span>
                            <li class="pb-0 pt-0"><a class="nav-link" href="#">NCD</a></li>
                            <li class="pb-0 pt-0"><a class="nav-link" href="#">Market Value</a></li>
                        </ul>
                    </li>

                    <li class="dropdown ">
                        <a href="users.html" class="nav-link has-dropdown">
                            <img alt="image" src="assets/img/icons/thumb_up.png">
                            <span>Endorsement</span>
                        </a>
                        <ul class="dropdown-menu bg-transparent">
                            <span class="font-14 font-weight-600 ml-5 pl-2">Urgent</span>
                            <li class="pb-0 pt-0"><a class="nav-link" href="#">NCD</a></li>
                            <li class="pb-0 pt-0"><a class="nav-link" href="#">High Risk</a></li>
                            <li class="pb-0 pt-0"><a class="nav-link" href="#">Roadtax</a></li>
                        </ul>
                        <ul class="dropdown-menu bg-transparent">
                            <span class="font-14 font-weight-600 ml-5 pl-2">Assist</span>
                            <li class="pb-0 pt-0"><a class="nav-link" href="#">NCD</a></li>
                            <li class="pb-0 pt-0"><a class="nav-link" href="#">Market Value</a></li>
                        </ul>
                    </li>

                    <li class="dropdown ">
                        <a href="users.html" class="nav-link has-dropdown">
                            <img alt="image" src="assets/img/icons/verified.png">
                            <span>Claim</span>
                        </a>
                        <ul class="dropdown-menu bg-transparent">
                            <li class="pb-0 pt-0"><a class="nav-link" href="#">Windscreen</a></li>
                        </ul>
                    </li>

                    <li class="dropdown ">
                        <a href="users.html" class="nav-link has-dropdown">
                            <img alt="image" src="assets/img/icons/moped.png">
                            <span>Delivery</span>
                        </a>
                        <ul class="dropdown-menu bg-transparent">
                            <li class="pb-0 pt-0"><a class="nav-link" href="#">POST Office</a></li>
                        </ul>
                    </li>


                    <li class="dropdown ">
                        <a href="#" class="nav-link ">
                            <img alt="image" src="assets/img/icons/dollar_icon.png">
                            <span>Refund</span>
                        </a>
                    </li>

                    <li class="dropdown ">
                        <a href="#" class="nav-link">
                            <img alt="image" src="assets/img/icons/maps_ugc.png">
                            <span>Notifications</span>
                        </a>
                    </li>



                    <li class="dropdown ">
                        <a href="#" class="nav-link">
                            <img alt="image" src="assets/img/icons/headset_mic.png">
                            <span>Telemarketing</span>
                        </a>
                    </li>

                    <li class="dropdown">
                        <a href="#" class="nav-link has-dropdown">
                            <img alt="image" src="assets/img/icons/content_icon.png">
                            <span>Report</span>
                        </a>
                        <ul class="dropdown-menu bg-transparent">
                            <li class="pb-0 pt-0"><a class="nav-link" href="#">Roadtax</a></li>
                        </ul>
                    </li>
                    <li class="dropdown">
                        <a href="#" class="nav-link">
                            <img alt="image" src="assets/img/icons/folder_icon.png">
                            <span>Customer Database</span>
                        </a>
                    </li>

                    <li class="dropdown">
                        <a href="users.html" class="nav-link">
                            <img alt="image" src="assets/img/icons/admin_user.png">
                            <span>User Management</span></a>
                        <ul class="dropdown-menu bg-transparent">
                            <li class="pb-0 pt-0"><a class="nav-link" href="users.html">User Management</a></li>
                        </ul>
                    </li>

                </ul>
            </aside>
        </div>
        <!-- left Sidebar Code End -->

        <!-- Main Content -->
        <div class="main-content">
            <section class="section">

                <div class="section-header">
                    <div class="row">
                        <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12">
                            <div class="section-header-breadcrumb-content">
                                <h1>Dashboard</h1>
                            </div>
                        </div>

                    </div>
                </div>

                <div class="row">
                    <div class="col-md-9">
                        <div class="row dashboard-box">
                            <div class="col-md-3 pr-0">
                                <div class="card card-sales-widget">
                                    <div class="card-wrap">
                                        <div class="card-header mt-2">
                                            <div class="d-lg-inline-block text-left">
                                                <div class="box_right_border_one ml-2">
                                                    <h4 class="text-muted font-15 ml-2 font-weight-bold">Cover Note</h4>
                                                    <h4 class="mt-1 font-19 font-weight-bold text-dark ml-2">Takaful Malasyia</h4>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="card-bottom-footer">
                                            <h1 class="count_no text-left ml-4">121</h1>
                                        </div>
                                    </div>
                                </div>
                            </div>


                            <div class="col-md-3 pr-0">
                                <div class="card card-sales-widget">
                                    <div class="card-wrap">
                                        <div class="card-header mt-2">
                                            <div class="d-lg-inline-block text-left">
                                                <div class="box_right_border_one ml-2">
                                                    <h4 class="text-muted font-15 ml-2 font-weight-bold">Cover Note</h4>
                                                    <h4 class="mt-1 font-19 font-weight-bold text-dark ml-2">Takaful Malasyia</h4>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="card-bottom-footer">
                                            <h1 class="count_no text-left ml-4">121</h1>
                                        </div>
                                    </div>
                                </div>
                            </div>


                            <div class="col-md-3 pr-0">
                                <div class="card card-sales-widget">
                                    <div class="card-wrap">
                                        <div class="card-header mt-2">
                                            <div class="d-lg-inline-block text-left">
                                                <div class="box_right_border_two ml-2">
                                                    <h4 class="text-muted font-15 ml-2 font-weight-bold">Cover Note</h4>
                                                    <h4 class="mt-1 font-19 font-weight-bold text-dark ml-2">Takaful Malasyia</h4>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="card-bottom-footer">
                                            <h1 class="count_no text-left ml-4">121</h1>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="col-md-3 pr-0">
                                <div class="card card-sales-widget">
                                    <div class="card-wrap">
                                        <div class="card-header mt-2">
                                            <div class="d-lg-inline-block text-left">
                                                <div class="box_right_border_three ml-2">
                                                    <h4 class="text-muted font-15 ml-2 font-weight-bold">Cover Note</h4>
                                                    <h4 class="mt-1 font-19 font-weight-bold text-dark ml-2">Takaful Malasyia</h4>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="card-bottom-footer">
                                            <h1 class="count_no text-left ml-4">121</h1>
                                        </div>
                                    </div>
                                </div>
                            </div>

                        </div>
                        <div class="row dashboard-box">

                            <div class="col-md-6 pr-0">
                                <div class="card card-sales-widget">
                                    <div class="card-wrap">
                                        <div class="col-md-6">
                                            <h2>right</h2>
                                        </div>
                                        <div class="col-md-6">
                                            <img alt="image" src="assets/img/icons/iconvolt.png">
                                        </div>
                                    </div>
                                </div>
                            </div>




                            <div class="col-md-6 pr-0">
                                <div class="card card-sales-widget">

                                    <div class="col-sm-4">
                                        <div class="card card-sales-widget">
                                            <div class="card-wrap">
                                                <div class="card-header mt-2">
                                                    <div class="d-lg-inline-block text-left">
                                                        <div class="box_right_border_one ml-2">
                                                            <h4 class="text-muted font-15 ml-2 font-weight-bold">Cover Note</h4>
                                                            <h4 class="mt-1 font-19 font-weight-bold text-dark ml-2">Takaful Malasyia</h4>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="card-bottom-footer">
                                                    <h1 class="count_no text-left ml-4">121</h1>
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="col-sm-4">
                                        <div class="card card-sales-widget">
                                            <div class="card-wrap">
                                                <div class="card-header mt-2">
                                                    <div class="d-lg-inline-block text-left">
                                                        <div class="box_right_border_one ml-2">
                                                            <h4 class="text-muted font-15 ml-2 font-weight-bold">Cover Note</h4>
                                                            <h4 class="mt-1 font-19 font-weight-bold text-dark ml-2">Takaful Malasyia</h4>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="card-bottom-footer">
                                                    <h1 class="count_no text-left ml-4">121</h1>
                                                </div>
                                            </div>
                                        </div>
                                    </div>


                                </div>
                            </div>

                        </div>
                    </div>


                    <!-- right side bar code start -->
                    <div class="col-md-3">
                        <div class="dashboard_right_sidebar">

                        </div>
                    </div>
                    <!-- right side bar code end -->
                </div>


            </section>
        </div>
    </div>
</div>