<h2 class="bg-blue-grey font-17 mb-0 p-15 pl-4">Car Register #{{currentData}}</h2>
<form [formGroup]="basketDetailForm">
  <div class="pl-4 row">
    <div class="col-md-6 border-right pl-4 pr-5">
      <div class="form-group row mt-3">
        <label for="inputEmail3" class="col-sm-3 col-form-label">Car Reg. No.</label>
        <div class="col-sm-9">
          <input type="text" class="form-control" formControlName="vehiclePlateNo" readonly>
        </div>
      </div>
      <div class="form-group row">
        <label for="inputEmail3" class="col-sm-3 col-form-label">Model Car</label>
        <div class="col-sm-9">
          <input type="text" class="form-control" formControlName="carModel" readonly>
        </div>
      </div>
      <div class="form-group row">
        <label for="inputEmail3" class="col-sm-3 col-form-label">Name</label>
        <div class="col-sm-9">
          <input type="text" class="form-control" formControlName="customerName" readonly>
        </div>
      </div>
      <div class="form-group row">
        <label for="inputEmail3" class="col-sm-3 col-form-label">NRIC</label>
        <div class="col-sm-9">
          <input type="text" class="form-control" formControlName="nric" readonly>
        </div>
      </div>
      <div class="form-group row">
        <label for="inputEmail3" class="col-sm-3 col-form-label">Takaful Name</label>
        <div class="col-sm-9">
          <input type="text" class="form-control" formControlName="principal" readonly>
        </div>
      </div>
      <div class="form-group row">
        <label for="inputEmail3" class="col-sm-3 col-form-label">Cover Type</label>
        <div class="col-sm-9">
          <input type="text" class="form-control" formControlName="coverType" readonly>
        </div>
      </div>
      <div class="form-group row">
        <label for="inputEmail3" class="col-sm-3 col-form-label">Sum Insured</label>
        <div class="col-sm-9">
          <input type="text" class="form-control" formControlName="sumInsured" readonly>
        </div>
      </div>
      <div class="form-group row">
        <label for="inputEmail3" class="col-sm-3 col-form-label">Extra Coverage</label>
        <div class="col-sm-9">
          <input type="text" class="form-control" formControlName="coverage" readonly>
        </div>
      </div>
      <div class="form-group row">
        <label for="inputEmail3" class="col-sm-3 col-form-label">NCD Effective Date</label>
        <div class="col-sm-9">
          <input class="form-control" formControlName="effectiveDate" readonly>
        </div>
      </div>
      <div class="form-group row">
        <label for="inputEmail3" class="col-sm-3 col-form-label">Phone Number</label>
        <div class="col-sm-9">
          <input type="text" class="form-control" formControlName="phoneNo" readonly>
        </div>
      </div>
      <div class="form-group row">
        <label for="inputEmail3" class="col-sm-3 col-form-label">Email</label>
        <div class="col-sm-9">
          <input type="text" class="form-control" formControlName="email" readonly>
        </div>
      </div>
      <div class="form-group row">
        <label for="inputEmail3" class="col-sm-3 col-form-label">Address</label>
        <div class="col-sm-9">
          <input type="text" class="form-control form-group" formControlName="address1" readonly>
          <input type="text" class="form-control " formControlName="address2" readonly>
        </div>
      </div>
      <div class="form-group row">
        <label for="inputEmail3" class="col-sm-3 col-form-label">Postcode</label>
        <div class="col-sm-9">
          <input type="text" class="form-control" formControlName="postcode" readonly>
        </div>
      </div>
      <div class="form-group row">
        <label for="inputEmail3" class="col-sm-3 col-form-label">Status</label>
        <div class="col-sm-9">
          <input type="text" class="form-control" formControlName="status" readonly>
        </div>
      </div>
      <div class="form-group row">
        <label for="inputEmail3" class="col-sm-3 col-form-label">Remarks</label>
        <div class="col-sm-9">
          <textarea class="form-control" rows="3" formControlName="remarks"></textarea>
        </div>
      </div>
    </div>
    <div class="col-md-6">
      <div class="form-group row mt-3  pl-4 pr-5">
        <label class="col-form-label col-sm-4 font-weight-bold align-self-center">Step Procedure</label>
      </div>
      <div class="form-group row  pl-4 pr-5">
        <label class="col-sm-5 col-form-label "><span class="font-weight-bold">1. Check & Update</span> (NCD)</label>
        <div class="col-sm-5">
          <a (click)="goToLink('https://www.mycarinfo.com.my/ncdcheck/online')"
            class="bg-light-blue border-0 btn btn-lg text-white">Click Here</a>
        </div>
      </div>
      <div class="form-group row  pl-4 pr-5">
        <label class="col-sm-5 col-form-label font-weight-bold">2. Change NCD</label>
        <div class="col-sm-5">
          <select class="font-weight-600 form-control">
            <option *ngFor="let item of ncdList" value="{{item.value}}">{{item.option}}</option>
          </select>
        </div>
      </div>
      <div class="form-group row  pl-4 pr-5">
        <label class="col-sm-5 col-form-label font-weight-bold">3. Send Link to Customer</label>
        <div class="col-sm-6">
          <button class="bg-light border-0 btn btn-lg form-group rounded-pill text-dark text-white"
            (click)="whatsAppCall(basketDetailForm.value.vehiclePlateNo)">
            <img class="pr-2" src="assets/img/icons/whatsapp.png" />
            SEND WHATSAPP
          </button>
        </div>
      </div>
      <div class="row">
        <div class="bg-light p-15 position-absolute pr-5 text-right w-100" style="bottom:0px;">
          <button class="bg-green btn text-white w-25">Update</button>
          <button (click)="reloadHandler()" class="btn bg-transparent border-0 w-25">Cancel</button>
        </div>
      </div>
    </div>
  </div>
</form>