<div class="sms_chat_model">
  <div class="modal left fade" id="sms_chat_model" tabindex="" role="dialog" aria-labelledby="exampleModalLabel"
    aria-hidden="true">
    <div class="modal-dialog" role="document">
      <form class="h-100" [formGroup]="smsForm" (ngSubmit)="onSubmit(smsForm.valid)">
        <div class="modal-content">
          <div class="modal-header pb-3 pt-2">
            <h4 class="font-21 modal-title">Send SMS</h4>
          </div>
          <div class="modal-body">
            <div class="form-group row mt-3">
              <label for="inputEmail3" class="col-sm-3 col-form-label">Phone No :</label>
              <div class="col-sm-9">
                <input type="text" class="form-control" formControlName="phoneNo">
                <div *ngIf="phn.invalid && (phn.dirty || phn.touched)">
                  <div *ngIf="phn.errors.required" class="error">Phone Number is required</div>
                </div>
              </div>
            </div>

            <div class="form-group row">
              <label for="inputEmail3" class="col-sm-3 col-form-label">Date : </label>
              <div class="col-sm-9">
                <input type="text" class="form-control" value="{{today | date: 'dd MMM yyyy'}}" readonly>
              </div>
            </div>

            <div class="form-group row">
              <label for="inputEmail3" class="col-sm-3 col-form-label">Messages :</label>
              <div class="col-sm-9">
                <textarea class="form-control" formControlName="message"></textarea>
                <div *ngIf="msg.invalid && (msg.dirty || msg.touched)">
                  <div *ngIf="msg.errors.required" class="error">Message is required</div>
                  <div *ngIf="msg.errors.pattern" class="error">Message must not contain any special characters</div>
                </div>
              </div>
            </div>
          </div>
          <div class="justify-content-center modal-footer">
            <button type="button" class="bg-transparent border-0 btn btn-secondary shadow-none text-dark"
              data-dismiss="modal" (click)="closeModal()" #closeBtn>Cancel</button>
            <button type="submit" class="btn btn-info shadow-none w-25">Submit</button>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>