.calling-model .modal .modal-dialog .modal-content {
  background-color: #27282d;
}
.calling-model .modal .modal-dialog .modal-content .modal-body {
  text-align: center;
  text-align: -webkit-center;
}
.calling-model
  .modal
  .modal-dialog
  .modal-content
  .modal-body
  .person_name_on_circle {
  width: 70px;
  height: 70px;
  background-color: #55555a;
  color: #fff;
  border-radius: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.calling-model .modal .modal-dialog .modal-content .modal-body button:focus {
  outline: unset;
}
.calling-model
  .modal
  .modal-dialog
  .modal-content
  .modal-body
  .headphones_icon_bg {
  background-color: #1baa;
  width: 100px;
  height: 100px;
  border-radius: 100%;
}
.calling-model
  .modal
  .modal-dialog
  .modal-content
  .modal-body
  .name_calling_time
  h6 {
  color: #9f9f9f;
}
.calling-model .modal .modal-dialog .modal-content .modal-footer {
  background-color: #1f1f1f;
}
.calling-model
  .modal
  .modal-dialog
  .modal-content
  .modal-footer
  .btn.btn-secondary {
  border-radius: 100%;
  width: 50px;
  height: 50px;
  background-color: #fff;
  box-shadow: none;
}
.calling-model
  .modal
  .modal-dialog
  .modal-content
  .modal-footer
  .btn.btn-primary {
  border-radius: 100%;
  width: 50px;
  height: 50px;
  background-color: #f54336;
  box-shadow: none;
}
.calling-model
  .modal
  .modal-dialog
  .modal-content
  .modal-footer
  .btn.btn-secondary:hover,
.calling-model
  .modal
  .modal-dialog
  .modal-content
  .modal-footer
  .btn.btn-secondary:focus {
  background-color: #fff !important;
}
.calling-model
  .modal
  .modal-dialog
  .modal-content
  .modal-footer
  .btn.btn-primary:hover,
.calling-model
  .modal
  .modal-dialog
  .modal-content
  .modal-footer
  .btn.btn-primary:focus {
  background-color: #f54336 !important;
}
.calling-model .modal .modal-dialog .modal-content {
  border-radius: 10px;
}
.calling-model .modal .modal-dialog .modal-content .modal-footer {
  border-bottom-right-radius: 10px;
  border-bottom-left-radius: 10px;
}
.calling-model
  .modal
  .modal-dialog
  .modal-content
  .modal-header
  .circles
  a.red-circle {
  color: #f54336;
}
.calling-model
  .modal
  .modal-dialog
  .modal-content
  .modal-header
  .circles
  a.green-circle {
  color: #34c84a;
}
