<div class="second_top_bar bg-white p-10">
  <div class="container">
    <div class="row">
      <div class="col-md-6 pl-0 align-self-lg-center">
        <h4 class="font-17 text-dark page_title">
          <span class="font-weight-600">Target/</span>
          <span>Achiever</span>
        </h4>
      </div>
      <div class="col-md-6 pr-0">
        <form #filterForm="ngForm">
          <div class="row">
            <div class="col-md-8 search_bar">
              <i class="fa-search fas ml-3 position-absolute text-muted mt-3" aria-hidden="true"></i>
              <input class="form-control pl-5" type="text" placeholder="Search" aria-label="Search" name="search"
                [(ngModel)]="search" (keyup)="searchFor($event.target.value)">
            </div>
            <div class="col-md-4 month_bar">
              <select [(ngModel)]="filter" name="Filter" class="font-weight-600 form-control"
                (ngModelChange)="onFilterChanged($event)">
                <option *ngFor="let filter of filters" value="{{filter.value}}">{{filter.option}}</option>
              </select>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
<section class="section">
  <div class="row">
    <div class="col-lg-12">
      <ng-template [ngIf]="dataSource.data.length === 0" [ngIfElse]="elseBlock">
        <div class="container">
          <div class="align-items-center justify-content-center row vh-100">
            <div class="col-md-4 text-center no-data-found">
              <img class="img-fluid " src="assets/img/no-data-found.png">
              <h1 class="font-30 mt-2">Sorry. No Data Inside!</h1>
            </div>
          </div>
        </div>
      </ng-template>
      <ng-template #elseBlock>
        <form #testForm="ngForm">
          <div class="responsive-table-custom">
            <table mat-table [dataSource]="dataSource" multiTemplateDataRows class="mat-elevation-z8 table-bordered">
              <ng-container matColumnDef="userId">
                <th mat-header-cell *matHeaderCellDef>User ID</th>
                <td mat-cell *matCellDef="let element" class="font-14 font-weight-600">{{element.userId}}</td>
              </ng-container>

              <ng-container matColumnDef="role">
                <th mat-header-cell *matHeaderCellDef>Role</th>
                <td mat-cell *matCellDef="let element" class="font-14 font-weight-600">{{element.role}}</td>
              </ng-container>

              <ng-container matColumnDef="department">
                <th mat-header-cell *matHeaderCellDef>Department</th>
                <td mat-cell *matCellDef="let element" class="font-14 font-weight-600">{{element.department}}</td>
              </ng-container>

              <ng-container matColumnDef="target">
                <th class="text-center" mat-header-cell *matHeaderCellDef>Target</th>
                <td mat-cell *matCellDef="let element" class="font-14 font-weight-600">
                  <div class="d-flex justify-content-center cstm-form">
                    <div class="input-group w-50">
                      <input type="text" class="form-control text-center" #target="ngModel" name="target{{element.id}}"
                        [(ngModel)]="element.target">
                    </div>
                  </div>
                </td>
              </ng-container>

              <ng-container matColumnDef="achiever">
                <th class="text-center" mat-header-cell *matHeaderCellDef>Achiever</th>
                <td mat-cell *matCellDef="let element" class="font-14 font-weight-600">
                  <div class="d-flex justify-content-center cstm-form">
                    <div class="input-group w-50">
                      <input type="text" class="form-control text-center" #achiever="ngModel"
                        name="achiever{{element.id}}" [(ngModel)]="element.achiever">
                    </div>
                  </div>
                </td>
              </ng-container>

              <ng-container matColumnDef="action">
                <th class="text-center" mat-header-cell *matHeaderCellDef>Action</th>
                <td class="text-center" mat-cell *matCellDef="let element">
                  <button class="bg-green btn font-weight-600 pl-4 pr-4 rounded-pill text-white"
                    (click)="edited(element)">Update</button>
                </td>
              </ng-container>

              <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
              <tr mat-row *matRowDef="let row; columns: displayedColumns; let i = index"></tr>
            </table>
          </div>
        </form>
        <mat-paginator [pageSize]="10" (page)="pageChanged($event)"></mat-paginator>
      </ng-template>
    </div>
  </div>
</section>