.main-content {
  width: 100%;
  padding-top: none;
  position: relative;
  padding-right: none;
}
.second_top_bar {
  left: 0;
  right: 0;
  z-index: 0;
  width: 100%;
  padding-top: 15px;
  position: absolute;
  padding-bottom: 10px;
}
.section {
  margin-top: 66px;
}
table {
  width: 100%;
}
tr.mat-row {
  background-color: #fff;
}
tr.mat-header-row {
  height: 56px;
  border-top: hidden;
  border-left: hidden;
  border-right: hidden;
}
.cstm-form input:focus {
  border-color: #e4e6fc;
}
.cstm-form .form-control,
.cstm-form .input-group .input-group-prepend .input-group-text {
  height: 35px;
  border: 1px solid #ccc;
}

@media only screen and (min-device-width: 220px) and (max-device-width: 768px) {
  .second_top_bar .page_title {
    text-align: center;
  }
  .section {
    margin-top: 185px !important;
  }
  .second_top_bar .second_top_bar_title {
    text-align: center;
    padding: 5px 0px;
  }
  .second_top_bar .search_bar,
  .second_top_bar .month_bar {
    margin: 5px 0px;
  }
  .second_top_bar .row {
    margin-right: 0px;
    margin-left: 0px;
  }
  .responsive-table-custom {
    width: 100%;
    display: block;
    overflow-x: scroll;
  }
  .responsive-table-custom table {
    width: 1000px;
  }
}
