<div class="new_email_model">
  <div class="modal left fade" id="new_email_Modal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
    aria-hidden="true">
    <div class="modal-dialog" role="document">
      <form class="h-100" [formGroup]="emailForm" (ngSubmit)="onSubmit(emailForm.valid)">
        <div class="modal-content">
          <div class="modal-header pb-3 pt-2">
            <h4 class="font-21 modal-title">New Email</h4>
          </div>
          <div class="modal-body">
            <div class="form-group row mt-3">
              <label class="col-sm-3 col-form-label">Add Email :</label>
              <div class="col-sm-9">
                <input type="text" class="form-control" formControlName="email">
                <div *ngIf="email.invalid && (email.dirty || email.touched)">
                  <div *ngIf="email.errors.required" class="error">Email is required</div>
                  <div *ngIf="email.errors.email" class="error">Invalid Email</div>
                </div>
              </div>
            </div>

            <div class="form-group row">
              <label class="col-sm-3 col-form-label">Subject :</label>
              <div class="col-sm-9">
                <input type="text" class="form-control" formControlName="subject">
                <div *ngIf="subject.invalid && (subject.dirty || subject.touched)">
                  <div *ngIf="subject.errors.required" class="error">Subject is required</div>
                </div>
              </div>
            </div>

            <div class="form-group row">
              <label class="col-sm-3 col-form-label">Messages :</label>
              <div class="col-sm-9">
                <div [ngxSummernote]="config" formControlName="message"></div>
                <div *ngIf="message.invalid && (message.touched)">
                  <div *ngIf="message.errors.required" class="error">Messages is required</div>
                </div>
              </div>
            </div>
          </div>
          <div class="justify-content-center modal-footer">
            <button type="button" class="bg-transparent border-0 btn btn-secondary shadow-none text-dark"
              data-dismiss="modal" (click)="closeModal()" #closeBtn>Cancel</button>
            <button type="submit" class="btn btn-info shadow-none w-25">Send</button>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>